/* Header styles */
#header {
    margin-left: 0%;
    position: fixed;
    background-color: #0a0a0a;
  }
  nav ul {
      display: flex;
      justify-content:end;
    }
    nav ul li {
      margin-right: 20px;
      color: #fff;
    }
    
    /* Menu link styles */
    nav ul li a {
      text-decoration: none;
      padding: 12px;
      border-radius: 2px;
      transition: background-color 0.3s ease;
     
      color: #fff;
      font-size: 25px;
      }
    
    nav ul li a:hover {
      background-color: #1f1e1e;
    }
  
  /* Home section styles */
  #home {
    text-align:left;
    margin-top: 5%; 
    background-size: cover;
    color: #fff;
  }
  
  .container img {
    height: 350px;
    width: 4000px;;
    margin-top: 5%;
    margin-left: 5%;
   }

  #home h1 {
    font-size: 40px;
    margin-left: 10%;
    color: #fff;
    font-style: italic;
  }
  
  #home h1 span {
    font-size: 60px;
   margin-left: 5%;
    color:#e79abd;
    text-align: center;
  }
  
  #home p {
    font-size: 30px;
    margin-left: 10%;
    color: #fff;
    margin-top: 5%;
    font-style: italic;
    }
 
    /* school img*/
  .container {
    display: flex;
    max-height: max-content;
    align-items: center;
  }

  /* project images*/
  .image {
    width:fit-content;
    height:fit-content;
    }
  
  #about {
    font-size: 70px; 
    background-size: cover;
    margin-left:  5%;
    padding-bottom: 5%;
    padding-right: 20%;
  }

  #about h1{
  font-size:50px;
  color: #fe7803;
  margin: 0%;
  font-weight: 1200 ;
  margin-top: 10%;
  }
  #about p{
    font-size: 30px;
    font-style:cursive;
    color: #fff;
    margin-right: 2%;
  }

  #about ul {
    color: #fff;
  }
  /* education section styles */
  .education {
    color: #fff;
    font-size: 30px;
    background-size: cover;
    padding-top: 0cap;
  }
  
   .school {
    text-align: center;    
  }
  #education h1{
      font-size: 50px;
      color: #fe7803;
      margin: 5%;
      font-weight: 1000 ;
      }
  #education p{
    font-size: 30px;
    font-weight: 500;
    font-style:'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
    color: #fff;
  }
  /* Projects section styles */
  
  .project h2 {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    }

  #projects h2 {
    margin-left: 4%;
    font-size: 60px;
    color: #fe7803;
  }
.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  font-size: 35px;
  margin-bottom: 30px;
  margin-left: 80px;
  color: #fe7803;
}

.project h3 p {
  font-size: 25px;
  color: #0a0a0a;
}
.project p1{
  font-size: 25px;
  padding: 2%;
}
   /* Achivements section styles */
  #Achivements {
    color: #fff;
    font-size: 60px;
    font-weight: 1200;
   font-style: italic;
  }

  #Achivements h1{
    margin-left: 4%;
    font-size: 60px;
    color: #fe7803;
  }  
  
  #Achivements p {
    margin-top: 10%;
  }
  .image{
    margin-left: 4%;
    max-width:20%;
    min-height:20%;
  }
  
  #Achivements p{
   margin-left:10%;
   margin-top:3%;
  }
  
  /* Contact section styles */
  #contact h2 {
font-size: 50px;
font-style: italic;
padding-left: 5%;
color: #fe7803;
  }
form {
  margin-top: 20px;
  font-size: 20px;
  padding-left: 5%;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

button {
  padding: 15px 20px;
  background-color: #fff;

}
footer{
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social{
  display: flex;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  background: #fe7803;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}
body {
  background:rgb(49, 49, 49) ;
}

